
@{
    ViewBag.Title = "Ozellik Degerleri";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@model IEnumerable<ZeonTicaret.WebUI.Models.OzellikDeger>

<section class="panel">
    <header class="panel-heading">
        <span class="label label-info">Özellik Değerleri</span>
    </header>
    <div class="panel-body">
        <div class="adv-table editable-table ">
            <div class="clearfix">
                <div class="btn-group" style="float:right">
                    <button id="editable-sample_new" class="btn btn-success">
                        <a href="/Admin/OzellikDegerEkle" style="color:white">Yeni Özellik Değeri</a> <i class="icon-plus"></i>
                    </button>
                </div>
            </div>
            <br />
            <br />
            <div class="space15"></div>
            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                <thead>
                    <tr>
                        <th>Özellik Değer Adı</th>
                        <th>Açıklaması</th>
                        <th>Özellik Tipi</th>
                        <th>Düzenle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var deger in Model)
                    {

                        <tr class="">
                            <td>@deger.Adi</td>
                            <td>@deger.Aciklama</td>
                            @if (deger.OzellikTip != null)
                            {
                                <td>@deger.OzellikTip.Adi</td>
                            } 
                            <td><a class="btn btn-success" href="/Admin/OzellikDegerGuncelle/@deger.id"><i class="icon-pencil"></i></a></td>
                            <td><a class="btn btn-danger" href="/Admin/OzellikDegerSil/@deger.id"><i class="icon-trash"></i></a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</section>