
@{
    ViewBag.Title = "Hakkımızda Sayfası";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="faq-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="faq-accordin">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-heading active">
                                <a class="active" data-toggle="collapse" data-target="#collapseOne">
                                    Is There Anything I Should Bring?
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Türkiye'nin ilk online pazaryeri Zeon Ticaret, ürün çeşitliliği, avantajlı fiyatları ve %100 güvenli alışverişe olanak sağlayan Sıfır Risk Sistemi ile kurulduğu 2001 yılından bu yana alışveriş tutkunlarının en çok tercih ettiği e-ticaret platformlarından biri olmaya devam ediyor. 2011 yılında, küresel e-ticaret liderlerinden eBay’in bünyesine katılan Zeon Ticaret, bir eBay şirketi olmanın sağladığı global deneyimle Türkiye’de sektörüne öncülük ediyor.

                                        28 milyonu aşkın kayıtlı kullanıcı ve 100 bin satıcıyı bir araya getiren Zeon Ticaret, elektronikten dekorasyona, kozmetikten anne bebek ürünlerine, modadan süpermarkete kadar toplam 50 kategoride milyonlarca ürünü avantajlı fiyatlarla sunuyor.

                                        Zeon Ticaret, KOBİ’lerin ve bireysel satıcıların yanı sıra yerli ve yabancı yüzlerce büyük markanın resmi mağazalarına da ev sahipliği yapıyor. Avantajlı mağaza paketleri, gelişmiş satış araçları ve listeleme promosyonlarıyla Zeon Ticaret, hem kurumsal hem de bireysel satıcılar için işlerini kolayca e-ticaretle büyütme fırsatı yaratıyor.

                                        Türkiye’nin tüm şehirlerine aynı mesafede milyonlarca ürün seçeneğini bulabileceğiniz Zeon Ticaret ile hayatınızı kolaylaştırmanın ve güvenle hızlı alışveriş yapmanın keyfini çıkarın!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseTwo">
                                    Where Can I Find Market Research Reports?
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseThree">
                                    Where Can I Find The Wall Street Journal?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
