
<style>
    #servis {
        position: relative;
        margin: auto;
    }

    span{
        font-size:20px;
    }
</style>

<div class="single-banner">
    <div class="inner-text">
        <h4>SERVİSLER</h4>
    </div>
</div>
<br />
<br />
<br />


<div id="servis" class="col-lg-9 order-1 order-lg-2">
    <div class="row" >
        <div class="col-lg-3 col-sm-6">
            <div class="blog-item">
                <div class="bi-pic">
                    <img src="~/Content/fashi/img/kargo.jpg" />
                </div>
                <div class="bi-text">
                    <a href="./blog-details.html">
                        <h4>Bugün Teslimat </h4>
                    </a>
                    <p>KARGO <span>-Saat 14:00'e kadar verdiğiniz siparişler aynı gün kapınızda.</span></p>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-sm-6">
            <div class="blog-item">
                <div class="bi-pic">
                    <img src="~/Content/fashi/img/tektik.jpg" />
                </div>
                <div class="bi-text">
                    <a href="./blog-details.html">
                        <h4>Tek Tıkla Güvenli Alışveriş </h4>
                    </a>
                    <p>Alışveriş <span>-Ödeme ve adres bilgilerinizi kaydedin,güvenli alışveriş yapın.</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="blog-item">
                <div class="bi-pic">
                    <img src="~/Content/fashi/img/tektik.jpg" />

                </div>
                <div class="bi-text">
                    <a href="./blog-details.html">
                        <h4>Mobil Cebinizde</h4>
                    </a>
                    <p>Mobil <span>-Dilediğiniz her yerden güvenli alışverişin tadını çıkarın.</span></p>
                </div>
            </div>
        </div> 
        <div class="col-lg-3 col-sm-6">
            <div class="blog-item">
                <div class="bi-pic">
                    <img src="~/Content/fashi/img/tektik.jpg" />
                </div>
                <div class="bi-text">
                    <a href="./blog-details.html">
                        <h4>Kolay İade</h4>
                    </a>
                    <p>İade <span>-Aldığınız ürünü iade etmek hiç bukadar kolay olmamıştı.</span></p>
                </div>
            </div>
        </div>

    </div>
</div>
