
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zeon Ticaret - @ViewBag.title</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/fashi/img/icon-3.png" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/Content/fashi/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/fashi/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/fashi/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/Content/fashi/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/Content/fashi/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/fashi/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/Content/fashi/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/fashi/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/fashi/css/style.css" type="text/css">
</head>

<body class="home-blog-show">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        ZeonTicaret@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +00000000000 Telefon
                    </div>
                </div>
                <div class="ht-right">
                    <a href="/Kullanici/GirisYap" class="login-panel"><i class="fa fa-user"></i>Giriş Yap</a>

                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="/Content/fashi/img/flag-1.jpg" data-imagecss="flag yt"
                                    data-title="English">
                                English
                            </option>
                            <option value='yu' data-image="/Content/fashi/img/flag-2.jpg" data-imagecss="flag yu"
                                    data-title="Bangladesh">
                                German
                            </option>
                        </select>
                    </div>
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="/Content/fashi/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <a href="#" class="category-btn">Arama</a>
                            <div class="input-group">
                                <input type="text" placeholder="Neye İhtiyacınız Var?">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <a style="font-size:20px;">Sepetim</a>

                            @{
                                Html.RenderAction("MiniSepetWidget", "Home");
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="Content">

            

            <div class="nav-item">
                <div class="container">
                    <div class="nav-depart">
                        <div class="depart-btn">
                            <i class="ti-menu"></i>
                            <span>Tüm İşlemler</span>
                            <ul class="depart-hover">
                                <li class="active"><a href="/Kullanici/KayitOl">Kayıt Ol</a></li>
                                <li><a href="/Kullanici/GirisYap">Giriş Yap</a></li>
                            </ul>
                        </div>
                    </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/Home/Index">Anasayfa</a></li>
                            <li><a href="/Home/Urunler">Ürünler</a></li>
                            <li>
                                <a href="#">Kategoriler</a>
                                <ul class="dropdown">
                                    @{ 
                                        Html.RenderAction("KategoriListeleme", "Home");
                                    }
                                </ul>
                            </li>
                            <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
                            <li><a href="/Home/iletisim">İletişim</a></li>
                        </ul>
                    </nav>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
    </header>
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/Home/Index"><i class="fa fa-home"></i> Anasayfa</a>
                        @if (ViewBag.title != "Anasayfa")
                        {
                            <span>@ViewBag.title</span>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header End -->
    <!-- Partner Logo Section Begin -->



    @RenderBody()


    @{
        Html.RenderAction("Markalar", "Home");
    }
    </div>
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#" style="font-size:23px; color:#e7ab3c;">Zeon Ticaret</a>
                        </div>
                        <ul>
                            <li>Adres: İstanbul/Şişli </li>
                            <li>Telefon: +65 11.188.888</li>
                            <li>Email: ZeonTicaret@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Bilgi</h5>
                        <ul>
                            <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
                            <li><a href="/Home/CikisYap">Çıkış Yap</a></li>
                            <li><a href="/Home/iletisim">İletişim</a></li>
                            <li><a href="/Home/Servisler">Servisler</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Hesabım</h5>
                        <ul>
                            <li><a href="/Home/Hesabim">Hesabım</a></li>
                            <li><a href="/Home/iletisim">İletişim</a></li>
                            <li><a href="/Home/Urunler">Ürünler</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Bültenimize Şimdi Katılın</h5>
                        <p>En son mağazamız ve özel tekliflerimiz hakkında e-posta güncellemeleri alın..</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="E-Mail Giriniz..">
                            <button type="button">Abone Ol</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">ZeonTicaret</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="/Content/fashi/img/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="/Content/fashi/js/jquery-3.3.1.min.js"></script>
    <script src="/Content/fashi/js/bootstrap.min.js"></script>
    <script src="/Content/fashi/js/jquery-ui.min.js"></script>
    <script src="/Content/fashi/js/jquery.countdown.min.js"></script>
    <script src="/Content/fashi/js/jquery.nice-select.min.js"></script>
    <script src="/Content/fashi/js/jquery.zoom.min.js"></script>
    <script src="/Content/fashi/js/jquery.dd.min.js"></script>
    <script src="/Content/fashi/js/jquery.slicknav.js"></script>
    <script src="/Content/fashi/js/owl.carousel.min.js"></script>
    <script src="/Content/fashi/js/main.js"></script>
</body>

</html>