
@{
    ViewBag.Title = "Kayıt Ol";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Kayıt Ol</h2>
                    <form action="#">
                        <div class="group-input">
                            <label for="username">Kullanıcı Adı Veya E-Mail *</label>
                            <input type="text" id="username">
                        </div>
                        <div class="group-input">
                            <label for="pass">Şifre *</label>
                            <input type="text" id="pass">
                        </div>
                        <div class="group-input">
                            <label for="con-pass">Şifre Tekrar *</label>
                            <input type="text" id="con-pass">
                        </div>
                        <button type="submit" class="site-btn register-btn">Kayıt Ol</button>
                    </form>
                    <div class="switch-login">
                        <a href="/Kullanici/GirisYap" class="or-login">Giriş Yap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->
